.anime-card--basic {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin: 0px auto;
  .card-image {
    display: flex;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px 0px;
    & a {
      display: flex;
      cursor: pointer;
    }
    & img {
      width: 250px;
      height: 333px;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
    }
  }
  .card-text {
    padding: 0px 10px;
    & h5 {
      margin: 0px;
      text-transform: capitalize;
      transition: all 0.5s ease-in-out;
    }
  }
  &:hover {
    .card-image {
      & img {
        transform: scale(1.05);
      }
    }
    .card-text {
      & h5 {
        transform: scale(1.05);
      }
    }
  }
}