.layout--container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(../../assets/images/background_v1.png);
  background-repeat:no-repeat;
  background-size: cover;
  .layout-header {
    height: 80px;
    width: 100%;
  }
  .layout-sidebar {
    top: 0px;
    left: 0px;
    position: sticky;
    min-width: 80px;
    width: 80px;
    height: 100vh;
    background: #000000;
  }
  .layout-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: auto;
  }
}