.search-page--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .search--container {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    width: 20%;
    height: 100%;
    padding: 20px 20px;
    box-shadow: rgb(44, 62, 80) -5px 0px 15px -5px;
    .search-bar-label {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      letter-spacing: 0.5px;
      gap: 5px;
      .search-bar {
        display: flex;
        align-items: center;
        height: 35px;
        width: 100%;
        background: transparent;
        border: 2px solid #858585;
        padding: 0px 10px;
        border-radius: 17.5px;
        color: #FFFFFF;
        font-size: 15px;
        font-style: italic;
        font-weight: normal;
        letter-spacing: 0.5px;
        outline: none;
        &::placeholder {
          font-size: 15px;
          font-style: italic;
        }
      }
    }

    .search-filter {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 6px;
      margin-top: 10px;
      padding-bottom: 20px;
      border-bottom: 2px solid #858585;
      & p {
        font-family: 'Satoshi-Bold', sans-serif;
        width: 100%;
        margin: 0px;
        font-size: 16px;
      }
      & label {
        font-family: 'Satoshi-Regular', sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        gap: 10px;
        margin-right: 10px;
      }
      & select {
        width: 100px;
        background: transparent;
        border: 2px solid rgb(133, 133, 133);
        border-radius: 8px;
        padding: 5px 10px;
        & option {
          display: block;
          background: #222;
          border: #444 solid;
          font: inherit;
        }
      }
    }

    .search-result {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 20px 10px;
      gap: 10px;
      overflow-y: auto;
      & p {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        margin: 0px;
        cursor: pointer;
        & b {
          text-transform: capitalize;
          font-size: 13px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .result--container {
    position: relative;
    width: 80%;
    overflow: auto;
    .result-content {
      padding: 20px 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 220px);
      grid-template-rows: auto;
      justify-content: space-evenly;
      row-gap: 30px;
    }
  }
}